<!doctype html>
<html>
    <head>
        <title>All Films</title>
    </head>
    <body>
        <table border=0>
            <tr>
                <td><strong>Film</strong></td>
                <td><strong>Stars</strong></td>
            </tr>
            {% for film in movies %}
            <tr>
                <td>{{ film.title }}</td>
                <td>{{ film.stars }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href='/films/submit'>Add a New Film</a>
            
                
    </body>
</html>